body {
	background-color: #f1efe9;
}

.reveal {
	color: #515151;
}

.reveal .main-title {
    /* Empty */
}

.reveal .main-title table tr td {
    border: none;
}

.reveal .chapter {
    /* Empty */
}

.reveal .center {
    text-align: center;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal h3 {
	color: #f05033;
}

.reveal .chapter h2 {
    font-size: 5em;
}

.reveal .tp h2 {
    font-size: 5em;
}

.reveal .tp h2 a {
    color: #f05033;
}

.reveal .exercice h2 {
    font-size: 5em;
}

.reveal p {
	margin: 20px 0 0 0;
}

.reveal .slides img {
    border: none;
    background: none;
    box-shadow: none;
    height: auto;
}

.reveal .slides img.blur {
    filter: opacity(50%);
}

.reveal .slides img.blur:hover {
    filter: opacity(70%);
}

.reveal .slides {
    font-size: 30px;
}

.reveal .chapter.slide-background.present  {
    opacity: 0.2;
}

.reveal .slide.slide-background.present  {
    opacity: 0.2;
}

.reveal .tp.slide-background.present  {
    opacity: 0.2;
}

.reveal .exercice.slide-background.present  {
    opacity: 0.3;
}

.reveal .slide {
    text-align: left;
}

.reveal pre {
    width: 100%;
}

.reveal code {
    font-size: 90%;
    line-height: 22px;
    font-weight: bold;
}

.reveal pre code {
    max-height: none;
}

.reveal ul {
    list-style-type: none;
}

.reveal ul ul {
    list-style-type: none;
}

.reveal ul li:before {
    content: '–';
    margin-right: 7px;
}

.reveal ul li {
    font-size: 80%;
    color: #1a53a1;
}

.reveal li li {
    color: #414448;
}

.reveal .small {
    font-size: 0.7em;
}

.reveal label {
    font-size: medium;
}

.reveal .center .boxed-img {
	max-height: 500px;
}

.reveal .slide table tr td {
    text-align: center;
}

/* Icones : color */
.reveal .icon:before {
	vertical-align: sub;
	padding-right: 15px;
}

.reveal .icon-color .icon.idea:before {
	content: url('icons/color/idea.png');
}

.reveal .icon-color .icon.warn:before {
	content: url('icons/color/warn.png')
}

.reveal .icon-color .icon.info:before {
	content: url('icons/color/info.png')
}

.reveal .icon-color .icon.time:before {
	content: url('icons/color/time.png')
}

/* Icones : ultraviolet */
.reveal .icon-ultraviolet .icon.idea:before {
	content: url('icons/ultraviolet/idea.png');
}

.reveal .icon-ultraviolet .icon.warn:before {
	content: url('icons/ultraviolet/warn.png');
}

.reveal .icon-ultraviolet .icon.info:before {
	content: url('icons/ultraviolet/info.png');
}

.reveal .icon-ultraviolet .icon.time:before {
	content: url('icons/ultraviolet/time.png');
}

/* Icones : dusk */
.reveal .icon-dusk .icon.idea:before {
	content: url('icons/dusk/idea.png')
}

.reveal .icon-dusk .icon.warn:before {
	content: url('icons/dusk/warn.png')
}

.reveal .icon-dusk .icon.info:before {
	content: url('icons/dusk/info.png')
}

.reveal .icon-dusk .icon.time:before {
	content: url('icons/dusk/time.png')
}

/* Quand les frgments disparaissen (fade-out), la place est libérée */
.fragment.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
}

.reveal .fixed-height {
	height: 450px;
	min-height: 450px;
}